<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier un livre</title>
</head>
<body>
    <div class="container">
        <div class="titre">
            <h1>Modifier le livre: {{ livre.titre }}</h1>
        </div>

        {{ form_start(formLivre) }}
            {{ form_widget(formLivre )}}

            <input type="submit" value="Modifier le livre" formnovalidate>
        {{ form_end(formLivre) }}

    </div>
    
    
</body>
</html>